*~
*.[oa]
*.lo
*.la


Makefile
stamp-*
config.*
INSTALL
aclocal.m4
autom4te.cache
compile
install-sh
.deps
.libs


*-marshal.[ch]
*.service
*.pc
*-glue.h
*-bindings.h

doxygen.conf

example/geoclue-find-example
example/geoclue-geocode-example
example/geoclue-map-example
example/geoclue-map-example-moving
example/geoclue-map-layout-example
example/geoclue-position-example
geoclue/geoclue-master
