*~
*.[oa]
*.lo
*.la


Makefile.in
Makefile
stamp-*
config.*
configure
INSTALL
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs


*-marshal.[ch]
*.service
*.pc
*-glue.h

doxygen.conf

example/geoclue-find-example
example/geoclue-geocode-example
example/geoclue-map-example
example/geoclue-map-example-moving
example/geoclue-map-layout-example
example/geoclue-position-example
geoclue/geoclue-master
