*~
*.[oa]
*.lo
*.la


*.in
Makefile
stamp-*
config.*
configure
INSTALL
aclocal.m4
autom4te.cache
compile
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs


*signal_marshal.[ch]
*.service
*.pc
*_glue.h


backend/geocode_yahoo/geoclue-geocode-server-yahoo
backend/map_yahoo/geoclue-map-server-yahoo
backend/position_gpsd/geoclue-position-server-gpsd
backend/position_hostip/geoclue-position-server-hostip
backend/position_manual/geoclue-position-server-manual
example/geoclue-find-example
example/geoclue-geocode-example
example/geoclue-map-example
example/geoclue-map-example-moving
example/geoclue-map-layout-example
example/geoclue-position-example
geoclue/geoclue-master
